<!DOCTYPE html>
<html>
    <head>
        <title>Test db manager</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
            {{#each data}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
            </tr>
            {{/each}}
        </table>
        
    </body>
</html>
<!-- <h1>Hello World!</h1> -->
