<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- <title>Document</title>	 --}}
        <link rel="apple-touch-icon" href="/src/public/images/apple-touch-icon.png">
		<link rel="stylesheet" href="/src/public/css/bootstrap.min.css">
		<link rel="stylesheet" href="/src/public/css/normalize.css">
		<link rel="stylesheet" href="/src/public/css/font-awesome.min.css">
		<link rel="stylesheet" href="/src/public/css/transitions.css">
		<link rel="stylesheet" href="/src/public/css/prettyPhoto.css">
		<link rel="stylesheet" href="/src/public/css/swiper.min.css">
		<link rel="stylesheet" href="/src/public/css/jquery-ui.css">
		<link rel="stylesheet" href="/src/public/css/animate.css">
		<link rel="stylesheet" href="/src/public/css/owl.theme.css">
		<link rel="stylesheet" href="/src/public/css/owl.carousel.css">
		<link rel="stylesheet" href="/src/public/css/customScrollbar.css">
		<link rel="stylesheet" href="/src/public/css/icomoon.css">
		<link rel="stylesheet" href="/src/public/css/main.css">
		<link rel="stylesheet" href="/src/public/css/color.css">
		<link rel="stylesheet" href="/src/public/css/responsive.css">
		<script src="/src/public/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body>
        {{> header}}
        {{{body}}}
        {{> footer}}

		<!--************************************
			LightBoxes End
		*************************************-->
		<script src="/src/public/js/vendor/jquery-library.js"></script>
		<script src="/src/public/js/vendor/bootstrap.min.js"></script>
		<script src="/src/public/js/customScrollbar.min.js"></script>
		<script src="/src/public/js/owl.carousel.js"></script>
		<script src="/src/public/js/isotope.pkgd.js"></script>
		<script src="/src/public/js/prettyPhoto.js"></script>
		<script src="/src/public/js/swiper.min.js"></script>
		<script src="/src/public/js/jquery-ui.js"></script>
		<script src="/src/public/js/countTo.js"></script>
		<script src="/src/public/js/appear.js"></script>
		<script src="/src/public/js/main.js"></script>
    </body>
</html>